In [4]:
import pandas as pd

df = pd.read_csv('products.txt', delimiter='~')
df

,Ingredient,DF;Route,Trade_Name,Applicant,Strength,Appl_Type,Appl_No,Product_No,TE_Code,Approval_Date,RLD,RS,Type,Applicant_Full_Name
0,BUDESONIDE,"AEROSOL, FOAM;RECTAL",UCERIS,SALIX,2MG/ACTUATION,N,205613,1,NaN,"Oct 7, 2014",Yes,Yes,RX,SALIX PHARMACEUTICALS INC
1,MINOCYCLINE HYDROCHLORIDE,"AEROSOL, FOAM;TOPICAL",AMZEEQ,JOURNEY,EQ 4% BASE,N,212379,1,NaN,"Oct 18, 2019",Yes,Yes,RX,JOURNEY MEDICAL CORP
2,AZELAIC ACID,"AEROSOL, FOAM;TOPICAL",AZELAIC ACID,TEVA PHARMS USA,15%,A,210928,1,NaN,"Oct 7, 2020",No,No,DISCN,TEVA PHARMACEUTICALS USA INC
3,BETAMETHASONE VALERATE,"AEROSOL, FOAM;TOPICAL",BETAMETHASONE VALERATE,PADAGIS ISRAEL,0.12%,A,78337,1,AB,"Nov 26, 2012",No,No,RX,PADAGIS ISRAEL PHARMACEUTICALS LTD
4,BETAMETHASONE VALERATE,"AEROSOL, FOAM;TOPICAL",BETAMETHASONE VALERATE,RICONPHARMA LLC,0.12%,A,207144,1,NaN,"May 24, 2017",No,No,DISCN,RICONPHARMA LLC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41726,FENTANYL CITRATE,TROCHE/LOZENGE;TRANSMUCOSAL,FENTANYL CITRATE,SPECGX LLC,EQ 0.4MG BASE,A,78907,2,AB,"Oct 30, 2009",No,No,RX,SPECGX LLC
41727,FENTANYL CITRATE,TROCHE/LOZENGE;TRANSMUCOSAL,FENTANYL CITRATE,SPECGX LLC,EQ 0.6MG BASE,A,78907,3,AB,"Oct 30, 2009",No,No,RX,SPECGX LLC
41728,FENTANYL CITRATE,TROCHE/LOZENGE;TRANSMUCOSAL,FENTANYL CITRATE,SPECGX LLC,EQ 0.8MG BASE,A,78907,4,AB,"Oct 30, 2009",No,No,RX,SPECGX LLC
41729,FENTANYL CITRATE,TROCHE/LOZENGE;TRANSMUCOSAL,FENTANYL CITRATE,SPECGX LLC,EQ 1.2MG BASE,A,78907,5,AB,"Oct 30, 2009",No,No,RX,SPECGX LLC
41730,FENTANYL CITRATE,TROCHE/LOZENGE;TRANSMUCOSAL,FENTANYL CITRATE,SPECGX LLC,EQ 1.6MG BASE,A,78907,6,AB,"Oct 30, 2009",No,No,RX,SPECGX LLC

In [6]:
import pandas as pd
df_exc = pd.read_csv('exclusivity.txt', delimiter='~')
df_exc

     Appl_Type  Appl_No  Product_No Exclusivity_Code Exclusivity_Date
0            N    11366           2           ODE-96      Aug 7, 2022
1            N    20287          11              NPP     May 16, 2022
2            N    20287          10              NPP     May 16, 2022
3            N    20287           9              NPP     May 16, 2022
4            N    20287           8              NPP     May 16, 2022
...        ...      ...         ...              ...              ...
1996         N   211109           2             GAIN     Aug 27, 2028
1997         N   215650           1             GAIN      Dec 7, 2029
1998         N   215152           1             GAIN      May 3, 2032
1999         N   215153           1             GAIN      May 3, 2032
2000         N   215888           1             GAIN     Apr 26, 2032

[2001 rows x 5 columns]